/* Styling of topnav class*/
.Topnav {
  padding: 3rem;
  text-align: center;
  color: #333;
}

.Topnav--btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}
.Topnav--btn:hover {
  background: grey;
}
